<!--
<div class="row">
    <div class="=column"></div>
        <img src="image/Site-community-image.webp">
    <div class="=column">
        <h1>MEOW</h1>
    </div>
</div>
-->
<header>
    <img class="logo" src="../images/snimek-obrazovky-2020-06-19-v104711.png">
</header>
<h2>Přihlášení do internetového bankovnictví</h2>
<div class="container">
<div class="login">
    <div class="jemno">
<label for="fname">Uživatelské jméno</label>
<input>
</div>
<br>
<div class="heslo">
<label for="fname">Heslo</label>
<input>
</div>
</div>
<div class="info">
    <h3>
        17.9.2024 | Vaši pomoc zdvojnásobíme!
         Zapojíte se s námi do sbírky na pomoc lidem postiženým povodněmi?
    </h3>
    <p>
        Vyhlašujeme veřejnou sbírku SOS Povodně a vy máte možnost jít do toho s námi! Zapojit se můžete na dárcovské platformě Darujspravne.cz. 
        My navíc každou částku, kterou pošlete vy, zdvojnásobíme.
        Darujeme tak až 25 milionů korun na okamžitou materiální pomoc domácnostem, postiženým ničivými povodněmi. 
        Naše sbírka pomůže hlavně zranitelným skupinám obyvatel, jako jsou senioři nebo samoživitelé. 
        Rozdělení peněz do postižených regionů bude mít na starosti organizace Člověk v tísni a program ČSOB pomáhá regionům.
    </p>
    <h3>
        23.6.2024 | Trvalé příkazy najdete snadněji
    </h3>
    <p>
        Pokud jste v pohybech často nemohli najít trvalé příkazy, tak příště už je najdete hned.
         V internetovém bankovnictví i ve Smartu se nově zobrazují pod názvem, který jste si sami zvolili.
         Zlepšovák máme i pro všechny, kteří zapomněli své uživatelské jméno. 
         Pokud se vám to taky stalo, na přihlašovací stránce do internetového bankovnictví klikněte na Nedaří se mi přihlásit a Uživatelské jméno. 
         Vyplníte telefonní číslo a e-mail registrovaný u nás, na který vám uživatelské jméno obratem pošleme.
    </p>
    <h3>
        22.4.2024 | Spustili jsme sjednání pojištění ke kartě
    </h3>
    <p>
        Pojištění ztráty a krádeže platební karty i celoroční cestovní pojištění ke kartě si nově založíte přímo v e-shopu internetového bankovnictví.
         Všechno máte přehledně vysvětlené, na pár kliknutí si vyberete tu správnou variantu a smlouvu podepíšete online.
    </p>
</div>
</div>
<footer>
    <p>© Československá obchodní banka, a. s.</p>
    <p>JEDNÁ SE O FALEŠNOU STRÁNKU</p>
</footer>