body{
    background-color: pink;
    margin: auto;
    display: flex;
    height: 100%;
    flex-direction: column;
}
a{
    text-decoration: none; 
}
header{
    background-color: rgb(248, 77, 105);
}
.nadpis{
    text-align: center;
    font-size: 60px;
}
.container{
    background-color: rgb(0, 89, 255);
    margin: 7%;
    border: 5Px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.img1, .img2{
    height: 400px;
    width: 400px;
}
.haha{
    font-size: 50px;
    margin: 2%;
    font-weight: bold;
    color:black;
}
footer{
    margin: auto;
    text-align: center;
    font-size: 30px;
    border-bottom: rgb(248, 77, 105) solid 5px;
    width: 15%;
}