*{
    margin: 0;
    padding: 0;
}
.row{
    display: flex;
}
.column{
    width: 50%;
}
body{
    background-color: lightblue;
} 
img{
    width: 50%;
}
header{
    background-color: white;
    width: 100%;
}
.logo{
    max-width: 100px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 25%;
}
footer{
    border-top: 1px solid gainsboro;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 20px;
}
.login{
    display: flex;
    width: 20%;
    height: 200px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info{
    width: 20%;
    height: 800px;
    background-color: white;
}
h2{
    color: darkblue;
    text-align: center;
    margin-top: 20px;
}
h3{
    margin: 2% 3% 2% 3%;
    text-align: center;
}
p{
    margin: 0 3% 0;
}
.jmeno, .heslo{
    display: flex;
    gap:20px;
}